# =========================
# Node / NPM
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
app-example
# =========================
# Environment files
# =========================
.env
.env.*
!.env.example

# =========================
# Build outputs
# =========================
dist/
build/
coverage/

# =========================
# Expo / React Native
# =========================
.expo/
.expo-shared/
web-build/
android/
ios/

# =========================
# Cache / Temp
# =========================
.cache/
.tmp/
temp/

# =========================
# IDE / Editor
# =========================
.idea/
.vscode/
*.iml

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Git
# =========================
.gitmodules
